# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build and distribution
build/
dist/

# Logs and temporary downloads
*.log
*.part
*.osz
scratch/

# OS and Editor artifacts
.vscode/
.idea/
Thumbs.db
Desktop.ini
